<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Localizador de veículos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>

<body>

<div class="container" style="min-height: 500px">

    <div class="starter-template">

        <h1>Localizador de veículos</h1>

        <div id="divShowError">
        </div>

        <form class="form-horizontal" id="search-form">

            <div class="form-group form-inline">
                <label for="selectVehicles" class="col-sm-2 control-label">Placa:</label>
                <select id="selectVehicles" class="form-control" onchange="onchangeVehicles()">
                    <option>Escolha</option>
                </select>
            </div>

            <div class="form-group form-inline">
                <label for="inputStartDate" class="col-sm-2 control-label">Data inicial:</label>
                <input type="text" id="inputStartDate" value="01-01-2000" class="form-control" aria-describedby="helpTextStartDate"/>
                <small id="helpTextStartDate" class="ml-3 form-text text-muted">
                    Deve ser no formato 99-99-9999. Exemplo: 01-01-2019
                </small>
            </div>

            <div class="form-group form-inline">
                <label for="inputEndDate" class="col-sm-2 control-label">Data final:</label>
                <input type="text" id="inputEndDate" value="01-01-2019" class="form-control" aria-describedby="helpTextEndDate"/>
                <small id="helpTextEndDate" class="ml-3 form-text text-muted">
                    Deve ser no formato 99-99-9999. Exemplo: 01-01-2019
                </small>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="buttonSearch" class="btn btn-primary">Pesquisar
                    </button>
                </div>
            </div>
        </form>

        <table id="tableVehicle" class="table table-striped">
            <thead>
            <tr>
                <th>Placa</th>
                <th>POI</th>
                <th>Raio (m)</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Tempo (minutos)</th>
            </tr>
            </thead>
        </table>
    </div>

</div>

<div class="container">
    <footer>
        <p>
            Lincoln Pompermaier - 2019 - Fonte: <a href="https://bitbucket.org/lincolnpomper/location-api-rest/">location-api-rest</a>
        </p>
    </footer>
</div>

<script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>


</body>
</html>
